doctype transitional
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  base(href='https://templatemo.com/')
  title Forms
  meta(name='description', content='Art Factory is a Bootstrap 4 website template with vector graphics. This layout can be fit as a HTML landing page for your digital...')
  meta(itemprop='headline', content='Free Template 537 Art Factory')
  meta(itemprop='name', content='Art Factory Template')
  meta(itemprop='description', content='Art Factory is a Bootstrap 4 website template with vector graphics. This layout can be fit as a HTML landing page for your digital...')
  meta(itemprop='image', content='/screenshots/full-template-537-art-factory.jpg')
  meta(itemprop='datePublished', content='2019-08-18')
  meta(property='og:type', content='article')
  meta(property='og:url', content='https://templatemo.com/tm-537-art-factory')
  meta(property='og:title', content='Free Template 537 Art Factory')
  meta(property='og:headline', content='Art Factory Template')
  meta(property='og:image', content='/screenshots/full-template-537-art-factory.jpg')
  meta(property='og:site_name', content='templatemo')
  meta(property='og:description', content='Art Factory is a Bootstrap 4 website template with vector graphics. This layout can be fit as a HTML landing page for your digital...')
  meta(name='author', content='templatemo')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700', rel='stylesheet', type='text/css')
  link(href='/tm-style-2020six18-min.css', rel='stylesheet', type='text/css')
  link(rel='canonical', href='https://templatemo.com/tm-537-art-factory')
  link(rel='shortcut icon', href='/favicon.ico', type='image/vnd.microsoft.icon')
#fb-root
#templatemo-container(style='margin-top: 10%; ')
  #top_section(style='height: 20rem;')
    .templatemo-logo
      a(href='http://localhost/')
        img(src='/images/templatemo-logo-new.png', alt='', title='', width='280', height='60', border='0')
    .tm-menu(style=' margin: -144px -4px 12px 0; padding: 5%;')
      a(href='http://localhost/login') Login
      a(href='http://localhost/signup') Sign Up
    .templatemo_clear
  .templatemo_clear.h20
